* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/ceu-estrelado.gif);
    background-repeat: repeat;
    perspective: 1000px;
}

#sistema-solar {
    /* background-color: white; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sphere {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #fff, #000);
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
}
  
@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}